.root {
  $root: &;
  flex: 1;

  #{$root} {
    &__header {
      padding: 0;
      display: flex;
      overflow: clip;
      align-items: center;
      gap: var(--ant-padding);
      justify-content: space-between;
      margin: 0 var(--ant-padding-lg);
      box-shadow: var(--ant-box-shadow-tertiary);
      background-color: var(--ant-color-bg-container);
      border-radius: 0 0 var(--ant-border-radius-lg) var(--ant-border-radius-lg);
    }

    &__menu {
      flex: 1;
      border: none;
    }

    &__footer {
      text-align: center;
    }

    &__tools {
      margin: var(--ant-padding);
    }

    &__locale-select {
      width: fit-content;

      :global(.ant-select-selector) {
        min-height: 32px;
        padding: 0 var(--ant-padding-xs);
      }

      :global(.ant-select-selection-item) {
        padding-inline-end: 0;
        text-align: center;
      }
    }

    &__locale-select-content {
      margin: 0 !important;
    }

    &__theme-button {
      flex-shrink: 0;
    }
  }
}

.root__locale-select-option {
  padding: 0 !important;
  text-align: center;
  align-items: center;
  justify-content: center;
}
